---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - get
  - list
  - update
- apiGroups:
  - dot-ai.devopstoolkit.live
  resources:
  - remediationpolicies
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - dot-ai.devopstoolkit.live
  resources:
  - remediationpolicies/status
  - solutions/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - dot-ai.devopstoolkit.live
  resources:
  - solutions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dot-ai.devopstoolkit.live
  resources:
  - solutions/finalizers
  verbs:
  - update
